/* {
    box-sizing: border-box;
}*/

html {
    font-family: "apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

thead {
    height: 50px;
    background-color: #DEE2E6;
    color:  #6B6C6D;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    padding: 0.75%;
}

td {
    padding: 0.75%;
    border-bottom: 1px solid #DEE2E6;
}

tr:hover {background-color: #F5F5F5}

.status {
    width: 20%;
}

.largura10 {
    width: 10%;
}

.boxCancelado {
    padding: 5px;
    width: 60%;
    border-radius: 8px;
    background-color: #E82431;
    color: #FFFFFF;
    text-align: center;
}

.boxEntregue {
    padding: 5px;
    width: 60%;
    border-radius: 8px;
    background-color: #28A745;
    color:  #FFFFFF;
    text-align: center;
}

.boxPendente {
    padding: 5px;
    width: 60%;
    border-radius: 8px;
    background-color: #007BFF;
    color: #FFFFFF;
    text-align: center;
}

.verItens {
    width: 20%;
    color: #007BFF;
    font-weight: bold;
}

.editar {
    width: 10%;
    color: #FDDF4C;
    font-weight: bold;
}

.excluir {
    width: 10%;
    color: #E82431;
    font-weight: bold;
}