.justifyContentRight {
    justify-content: flex-end;
}

.containerImg {
    display: flex;
    width: 100%;
    height: 40%;
}

.imgTop {
    background: #ffffff url("img/helloquence-61189.jpg") no-repeat center;
    background-size: cover;
}

.title {
    font-family: fontAmaranth;
}

.descriptionText {
    align-self: flex-end;
}

.midBox {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: fontAmaranth;
    src: url(https://fonts.gstatic.com/s/amaranth/v8/KtkuALODe433f0j1zMnFHdA.woff2);
}